

<div layout="row" flex layout-fill>
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">

        <md-toolbar layout="row" class="md-whiteframe-1dp">
            <div class="md-toolbar-tools">
                <h1>Backoffice app</h1>
            </div>
        </md-toolbar>

        <md-list>
            <md-list-item ng-click="show('/dashboard')">
                <ng-md-icon icon="dashboard"></ng-md-icon>
                <p>Dashboard</p>
            </md-list-item>
            <md-subheader class="md-no-sticky">Editor management</md-subheader>
            <md-list-item ng-click="show('/about')">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>News</p>
            </md-list-item>
            <md-list-item ng-click="show('/contact')">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>Reviews</p>
            </md-list-item>
            <md-list-item ng-click="show('/home')">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>Components</p>
            </md-list-item>
            <br />
            <md-subheader class="md-no-sticky">Supervisor management</md-subheader>
            <md-list-item ng-click="test">
                <ng-md-icon icon="android"></ng-md-icon>
                <p>Brands</p>
            </md-list-item>
            <md-list-item ng-click="show('/products')">
                <ng-md-icon icon="android"></ng-md-icon>
                <p>Products</p>
            </md-list-item>
            <br />
            <md-subheader class="md-no-sticky">Supervisor management</md-subheader>
            <md-list-item ng-click="show('/users')">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>Users</p>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <div layout="column" flex id="content">

        <md-toolbar layout="column" class="md-whiteframe-1dp">
            <div class="md-toolbar-tools">
                <md-button class="menu md-icon-button" aria-label="Show User List" hide-gt-sm ng-click="toggleMenu()">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>

                <h2>{{toShow}}</h2>

                <span flex></span>

                <md-button class="md-icon-button" aria-label="Notifications">
                    <ng-md-icon icon="notifications"></ng-md-icon>
                </md-button>
                <md-button class="menu md-icon-button" aria-label="Dashboard">
                    <ng-md-icon icon="dashboard"></ng-md-icon>
                </md-button>
                <md-menu md-position-mode="target-right target" md-offset="0 54">

                    <md-button class="md-icon-button" aria-label="Language" ng-click="openMenu($mdOpenMenu, $event)">
                        <ng-md-icon icon="{{ languageIcon }}" options='{"duration": 200, "rotation": "none"}'></ng-md-icon>
                    </md-button>

                    <md-menu-content width="3">

                        <md-menu-item>
                            <md-button>
                                Bosanski
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button>
                                English
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>

                </md-menu>

            </div>
        </md-toolbar>

        <md-content layout="column" flex>
            <div layout="row">
                <div flex="10" hide-xs> </div>
                <div flex-gt="80" flex>
                    <md-content class="main-content" flex layout-padding>
                        <md-content class="md-no-momentum">
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <label>Name</label>
                                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>

                            <md-input-container md-no-float class="md-block">
                                <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                <input ng-model="user.phone" type="text" placeholder="Phone Number">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                            </md-input-container>

                            <md-input-container md-no-float class="md-block">
                                <input ng-model="user.address" type="text" placeholder="Address" >
                                <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
                            </md-input-container>

                            <md-input-container class="md-icon-float md-icon-right md-block">
                                <label>Donation Amount</label>
                                <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
                                <input ng-model="user.donation" type="number" step="0.01">
                                <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
                            </md-input-container>

                        </md-content>

                    </md-content>
                </div>
                <div flex="10" hide-xs></div>
            </div>
        </md-content>

        <md-button class="md-fab md-fab-bottom-right" aria-label="Add a category" ng-click="clickIconMorph()">
            <ng-md-icon icon="{{ clickIcon }}" options='{"duration": 200, "rotation": "none"}'></ng-md-icon>
        </md-button>

    </div>

</div>