<div layout="row" flex layout-fill>

    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">

        <md-toolbar layout="row" class="md-whiteframe-1dp">
            <div class="md-toolbar-tools">
                <h1>Sovanndara UOM</h1>
            </div>
        </md-toolbar>

        <md-list>
            <md-list-item ng-click="test">
                <ng-md-icon icon="dashboard"></ng-md-icon>
                <p>Dashboard</p>
            </md-list-item>
            <br />
            <md-subheader class="md-no-sticky">Supervisor management</md-subheader>
            <md-list-item ng-click="test">
                <ng-md-icon icon="android"></ng-md-icon>
                <p>Customers</p>
            </md-list-item>
            <md-list-item ng-click="test">
                <ng-md-icon icon="android"></ng-md-icon>
                <p>Products</p>
            </md-list-item>
            <br />
            <md-subheader class="md-no-sticky">General</md-subheader>
            <md-list-item ng-click="test">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>Setting</p>
            </md-list-item>

            <md-list-item ng-click="show('/login')">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>Login</p>
            </md-list-item>

            <md-list-item ng-click="test">
                <ng-md-icon icon="supervisor_account"></ng-md-icon>
                <p>Table</p>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <div layout="column" flex id="content">

        <md-toolbar layout="column" class="md-whiteframe-1dp">

            <div class="md-toolbar-tools">

                <md-button class="menu md-icon-button" aria-label="Show User List" hide-gt-sm ng-click="toggleMenu()">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>

                <h2>Backoffice app</h2>

                <span flex></span>

                <md-button class="md-icon-button" aria-label="Notifications">
                    <ng-md-icon icon="notifications"></ng-md-icon>
                </md-button>
                <md-button class="menu md-icon-button" aria-label="Dashboard">
                    <ng-md-icon icon="dashboard"></ng-md-icon>
                </md-button>
                <md-menu md-position-mode="target-right target" md-offset="0 54">

                    <md-button class="md-icon-button" aria-label="Language" ng-click="openMenu($mdOpenMenu, $event)">
                        <ng-md-icon icon="{{ languageIcon }}" options='{"duration": 200, "rotation": "none"}'></ng-md-icon>
                    </md-button>

                    <md-menu-content width="3">

                        <md-menu-item>
                            <md-button>
                                Bosanski
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button>
                                English
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>

                </md-menu>
                <md-button class="menu md-icon-button" aria-label="Dashboard">
                    <ng-md-icon icon="dashboard"></ng-md-icon>
                </md-button>

            </div>
        </md-toolbar>
        <!--
        <md-content layout="column" flex>
        </md-content>

        <md-button class="md-fab md-fab-bottom-right" aria-label="Add a category" ng-click="clickIconMorph()">
            <ng-md-icon icon="{{ clickIcon }}" options='{"duration": 200, "rotation": "none"}'></ng-md-icon>
        </md-button>
        -->
    </div>
</div>